@model IEnumerable<PBL3_2.Models.Request>

@{
    ViewBag.Title = "AdminLopView1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Joining Request</h2>

<table class="table">
    <tr>
        <th>
            User name
        </th>
        <th>
            Class ID
        </th>
        <th>
            Type
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.ACCOUNT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOP_ID)
            </td>
            <td>
                @{
                    if (item.query == 0)
                    {
                        <p>Joining Class</p>
                    }
                }
                @*@Html.DisplayFor(modelItem => item.query)*@
            </td>
            <td>
                @{
                    if (ViewBag.Role != "0")
                    {
                        Html.ActionLink("Join", "testConfirm", new { id = item.REQUEST_ID, sub = "AcceptJoin" });
                        Html.ActionLink("Delete", "testConfirm", new { id = item.REQUEST_ID, sub = "DeleteJoin" });
                    }
                }
            </td>
        </tr>
    }

</table>
