<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active">
                        <a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-book"></i>Quản Lý Thiết bị</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Interface"><i class="notika-icon notika-edit"></i>Quản Lý tài khoản</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Charts"><i class="notika-icon notika-bar-chart"></i>Quản Lý Thông tin</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Tables"><i class="notika-icon notika-windows"></i> Quản Lý Biên lai</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Forms"><i class="notika-icon notika-form"></i>Quản Lý Gói tập</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Appviews"><i class="notika-icon notika-app"></i>Quản Lý Lớp</a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#Page"><i class="notika-icon notika-support"></i> Quản Lý phiên tập</a>
                    </li>
                </ul>
                <div class="tab-content custom-menu-content">
                    <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/LoaiSach/Index">Danh Sách Thiết Bị</a>
                            </li>
                            <li>
                                <a href="/Sach/Index">Danh Sách Tài Khoản</a>
                            </li>
                            <li>
                                <a href="NXB/Index">Danh Sách Biên Lai </a>
                            </li>
                            <li>
                                <a href="/ViTri/Index">Danh Sách Gói</a>
                            </li>
                            <li>
                                <a href="/TacGia/Index">Danh Sách Lớp</a>
                            </li>
                            <li>
                                <a href="/PhieuMuon/Index">Danh Sách Phiên Tập</a>
                            </li>
                            <li>
                                <a href="/User/Index">Danh Sách User</a>
                            </li>
                            <li>
                                <a href="/ThongKe/Index">Thống Kê</a>
                            </li>
                        </ul>
                    </div>
                    <div id="mailbox" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/LoaiSach/Index">Danh sách</a>
                            </li>
                            <li>
                                <a href="/LoaiSach/Create">Thêm mới</a>
                            </li>

                        </ul>
                    </div>
                    <div id="Interface" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Sach/Index">Danh sách</a>
                            </li>
                            <li>
                                <a href="/Sach/Create">Thêm mới</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Charts" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/NXB/Index">Danh sách</a>
                            </li>
                            <li>
                                <a href="/NXB/Create">Thêm mới</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Tables" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/PhieuMuon/Index">Danh sách</a>
                            </li>
                            <li>
                                <a href="/PhieuMuon/Create">Thêm mới</a>
                            </li>
                            <li>
                                <a href="/SinhVien/Index">Danh Sách Người Mượn</a>
                            </li>
                            <li>
                                <a href="/SinhVien/Create">Thêm người mượn</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Forms" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/ViTri/Index">Danh sách</a>
                            </li>
                            <li>
                                <a href="/ViTri/Create">Thêm mới</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Appviews" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/TacGia/Index">Danh sách</a>
                            </li>
                            <li>
                                <a href="/TacGia/Create">Thêm mới</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Page" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/User/Index">Danh sách</a>
                            </li>
                            <li>
                                <a href="/User/Create">Thêm mới</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu area End-->