<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active">
                        <a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Infor"><i class="notika-icon notika-bar-chart"></i>Personal account</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#payment"><i class="notika-icon notika-windows"></i>Receipt</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Lop"><i class="notika-icon notika-app"></i>Gym class</a>
                    </li>

                </ul>
                <div class="tab-content custom-menu-content">
                    <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Home/Index">Main page</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Infor" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="~/AccountInfoes/Index">View personal information</a>
                            </li>
                        </ul>
                    </div>
                    <div id="payment" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="~/BienLais/Index">List</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Lop" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="~/Lops/Index">My Class</a>
                            </li>
                            <li>
                                <a href="~/Lops/Join">Enrolling New Class</a>
                            </li>
                            <li>
                                <a href="~/Lops/AdminLopView1">Joining Request</a>
                            </li>
                            <li>
                                <a href="~/Lops/EditLopView">Editing Request</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu area End-->