<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active">
                        <a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#device"><i class="notika-icon notika-house"></i>Manage device</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Account"><i class="notika-icon notika-edit"></i>Manage account</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#payment"><i class="notika-icon notika-windows"></i>Manage Receipt</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#GoiTap"><i class="notika-icon notika-form"></i>Manage membership cost</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Lop"><i class="notika-icon notika-app"></i>Manage class</a>
                    </li>

                    @*                    <li>
                            <a data-toggle="tab" href="#Phientap"><i class="notika-icon notika-support"></i> Quản Lý phiên tập</a>
                        </li>*@
                </ul>
                <div class="tab-content custom-menu-content">
                    <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Home/Index">Main page</a>
                            </li>
                        </ul>
                    </div>
                    <div id="device" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="~/ThietBis/Index">List</a>
                            </li>
                            <li>
                                <a href="~/ThietBis/Create">Add new device</a>
                            </li>

                        </ul>
                    </div>
                    <div id="Account" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="~/AccountInfoes/Index">Manage accounts</a>
                            </li>
                            <li>
                                <a href="~/AccountInfoes/WatchYourProfile">My profile</a>
                            </li>
                            <li>
                                <a href="~/AccountInfoes/Edit_PersonalProfile">Update my profile</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Infor" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="~/AccountInfoes/Index">View personal information</a>
                            </li>
                        </ul>
                    </div>
                    <div id="payment" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="~/BienLais/Index">List</a>
                            </li>
                        </ul>
                    </div>
                    <div id="GoiTap" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="~/LoaiGois/Index">List</a>
                            </li>
                            <li>
                                <a href="~/LoaiGois/Create">Add new membership cost</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Lop" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="~/Lops/AdminLopView">Creating Class Request</a>
                            </li>
                            <li>
                                <a href="~/Lops/AdminLopView1">Joining Class Request</a>
                            </li>
                            <li>
                                <a href="~/Lops/EditLopView">Editing Class Request</a>
                            </li>
                            <li>
                                <a href="~/Lops/Index">Current Class List</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Menu area End-->