@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassWord</h2>


@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align: center;">
    Change password
</h2>

<h4 style="margin-left: 100px;">
    User name : @ViewBag.username
</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">


    <div class="form-group" style="margin-left: 60px;">
        <label for="pwd">New password:</label>
        <input type="password" class="form-control" name="Account_password">
    </div>

    <div class="form-group" style="margin-left: 60px;">
        <label for="pwd">Retyped new password:</label>
        <input type="password" class="form-control" name="Retype_Account_password">
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>


</div>
}



<div style="margin-left: 140px;">
    @Html.ActionLink("Back to List", "Index")
</div>