@model PBL3_2.BBL.AccounsAccountInfo

@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="page-section features" style="margin: 150px 0px">
        <div class="container">
            <a href="~/AccountInfoes/Index" class="back-home-link">Quay lai trang chu</a>
            <style>
                .back-home-link {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: #4CAF50;
                    color: white;
                    text-decoration: none;
                    border-radius: 5px;
                    float: right; /* canh lề phải */
                    margin-top: 500 px;
                }

                    .back-home-link:hover {
                        background-color: #3e8e41;
                    }
            </style>

            <h1 class="page-heading">Them tai khoan</h1>

            <style>
                .page-heading {
                    font-size: 36px;
                    color: #2c3e50;
                    text-align: center;
                    border-bottom: 2px solid #2c3e50;
                    padding-bottom: 40px;
                }
            </style>




            <form action="~/AccountInfoes/Them2" method="post">
                <div class="form-group">
                    <label for="email">Ten dang nhap:</label>
                    <input type="text" class="form-control" name="Account_name">
                    @*@Html.EditorFor(p => p.Account.ACCOUNT_NAME)*@
                </div>

                <div class="form-group">
                    <label for="pwd">Mat khau:</label>
                    <input type="password" class="form-control" name="Account_password">
                    @*@Html.PasswordFor(p => p.Account.ACCOUNT_PASSWORD)*@

                </div>

                <div class="form-group">
                    <label for="pwd">Nhap lai mat khau:</label>
                    <input type="password" class="form-control" name="Retype_Account_password">
                    @*@Html.PasswordFor(p => p.retypePassword)*@

                </div>

                <div class="form-group">
                    <label for="pwd">Ho va ten:</label>
                    <input type="text" class="form-control" name="User_name">
                    @*@Html.EditorFor(p => p.AccountInfo.USER_NAME)*@

                </div>

                <div class="form-group">
                    <label for="pwd">CCCD:</label>
                    @*@Html.EditorFor(p => p.AccountInfo.ACCOUNT_CCCD)*@
                    <input type="text" class="form-control" name="Account_CCCD">
                </div>

                <div class="form-group">
                    <label for="pwd">Sinh nhat:</label>
                    @*@Html.EditorFor(p => p.AccountInfo.ACCOUNT_BIRTHDAY, new { htmlAttributes = new { type = "date" } })*@
                    <input type="date" class="form-control" name="Account_birthday">
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Gioi tinh</label>
                    <div class="col-md-10">
                        <select name="GioiTinh" class="form-control">
                            <option value=True>Nam</option>
                            <option value=False>Nu</option>
                        </select>
                        @*<div>
                                <label>
                                    @Html.RadioButtonFor(m => m.AccountInfo.ACCOUNT_GENDER, false)
                                    Nữ
                                </label>

                                <label>
                                    @Html.RadioButtonFor(m => m.AccountInfo.ACCOUNT_GENDER, true)
                                    Nam
                                </label>
                            </div>*@
                        @*@Html.EditorFor(p => p.AccountInfo.ACCOUNT_BIRTHDAY, new { htmlAttribute = new { type = "chec" } })*@

                    </div>
                </div>

                <div class="form-group">
                    <label for="pwd">Chieu cao(cm):</label>
                    <input type="number" class="form-control" name="Account_Height">
                    @*@Html.EditorFor(p => p.AccountInfo.ACCOUNT_HEIGHT, new { htmlAttribute = new { type = "number" } })*@

                </div>

                <div class="form-group">
                    <label for="pwd">Can nang(kg):</label>
                    <input type="number" class="form-control" name="Account_Weight">
                    @*@Html.EditorFor(p => p.AccountInfo.ACCOUNT_WEIGHT, new { htmlAttribute = new { type = "number" } })*@
                </div>

                <div class="form-group">
                    <label for="pwd">Sdt:</label>
                    <input type="text" class="form-control" name="Account_phone">
                    @*@Html.EditorFor(p => p.AccountInfo.ACCOUNT_PHONE, new { htmlAttribute = new { type = "text" } })*@

                </div>

                <div class="form-group">
                    <label for="pwd">Email:</label>
                    @*@Html.EditorFor(p => p.AccountInfo.ACCOUNT_EMAIL, new { htmlAttribute = new { type = "text" } })*@

                    <input type="text" class="form-control" name="Account_email">
                </div>



                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</main>


