@model PBL3_2.BBL.AccounsAccountInfo

@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="page-section features" style="margin: 150px 0px">
        <div class="container">
            <a href="~/AccountInfoes/Index" class="back-home-link">Quay lại trang chủ</a>
            <style>
                .back-home-link {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: #4CAF50;
                    color: white;
                    text-decoration: none;
                    border-radius: 5px;
                    float: right; /* canh lề phải */
                    margin-top: 500 px;
                }

                .back-home-link:hover {
                     background-color: #3e8e41;
                }
            </style>

            <h1 class="page-heading">Thêm tài khoản</h1>

            <style>
                .page-heading {
                    font-size: 36px;
                    color: #2c3e50;
                    text-align: center;
                    border-bottom: 2px solid #2c3e50;
                    padding-bottom: 40px;
                }
            </style>
        



            <form action="~/AccountInfoes/Them2" method="post">
                <div class="form-group">
                    <label for="email">Tên đăng nhập:</label>
                    <input type="text" class="form-control" name="Account_name">
                </div>

                <div class="form-group">
                    <label for="pwd">Mật khẩu:</label>
                    <input type="password" class="form-control" name="Account_password">
                </div>

                <div class="form-group">
                    <label for="pwd">Nhập lại mật khẩu:</label>
                    <input type="password" class="form-control" name="Retype_Account_password">
                </div>

                <div class="form-group">
                    <label for="pwd">Họ và tên:</label>
                    <input type="text" class="form-control" name="User_name">
                </div>

                <div class="form-group">
                    <label for="pwd">CCCD:</label>
                    <input type="text" class="form-control" name="Account_CCCD">
                </div>

                <div class="form-group">
                    <label for="pwd">Sinh nhật:</label>
                    <input type="date" class="form-control" name="Account_birthday">
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Giới tính</label>
                    <div class="col-md-10">
                        <select name="GioiTinh" class="form-control">
                            <option value=True>Giới tính Nam</option>
                            <option value=False>Giới tính Nữ</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pwd">Chiều cao(cm):</label>
                    <input type="number" class="form-control" name="Account_Height">
                </div>

                <div class="form-group">
                    <label for="pwd">Cân nặng(kg):</label>
                    <input type="number" class="form-control" name="Account_Weight">
                </div>

                <div class="form-group">
                    <label for="pwd">SĐT:</label>
                    <input type="text" class="form-control" name="Account_phone">
                </div>

                <div class="form-group">
                    <label for="pwd">Email:</label>
                    <input type="text" class="form-control" name="Account_email">
                </div>



                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</main>