@using System.Web.Security



@{

}

<h1> @ViewBag.UserRole </h1>

@{
    if (ViewBag.UserRole == "Khach Hang")
    {

        <h1> UserRole is Khach Hang </h1>
    }
    else if (ViewBag.UserRole == "Nhan Vien")
    {
        <h1> UserRole is Nhan Vien </h1>
    }
    else
    {
        <h1> UserRole is Admin </h1>
    }
}