@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">WE GO TO JIM</h1>
    <p class="lead">Website for management and staff to effectively manage the gym</p>
    <p class="lead">Customers can also use the website to choose a remote gym schedule, view bills, ...</p>
</div>

<div class="row">
    <div class="col-md-4">
        @*        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        <img src="https://i.pinimg.com/564x/93/7e/ba/937ebac86d4a01f9ea2f99f346434b43.jpg" width="300" height="150" align="middle" style="margin-left:20%;" />
        <p style="margin-left:20%;">Go practice regularly</p>
    </div>
    <div class="col-md-4">
        @*        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        <img src="https://i.pinimg.com/736x/93/09/1a/93091a77715fb2d28792ae5ba8e349df.jpg" width="300" height="150" align="middle" style="margin-left:20%;" />
        <p style="margin-left:20%;">Practice with the Personal Trainer of our GYM center</p>
    </div>
    <div class="col-md-4">
        @*        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        <img src="https://i.pinimg.com/564x/de/03/be/de03be077408ca48c67962b345ef1a16.jpg" width="300" height="150" align="middle" style="margin-left:20%;" />
        <p style="margin-left:20%;">WE GO TO JIM !!!</p>
    </div>
</div>